<h1>Listing filmes</h1>

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>Titulo</th>
      <th>Datalancamento</th>
      <th>Imagemdecapa</th>
      <th>Sinopse</th>
      <th>Duracao</th>
      <th>Tags</th>
      <th>Nota</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @filmes.each do |filme| %>
      <tr>
        <td><%= filme.id %></td>
        <td><%= filme.titulo %></td>
        <td><%= filme.datalancamento %></td>
        <td><%= filme.imagemdecapa %></td>
        <td><%= filme.sinopse %></td>
        <td><%= filme.duracao %></td>
        <td><%= filme.tags %></td>
        <td><%= filme.nota %></td>
        <td><%= link_to 'Show', filme %></td>
        <td><%= link_to 'Edit', edit_filme_path(filme) %></td>
        <td><%= link_to 'Destroy', filme, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Filme', new_filme_path %>
